In [242]:
from selenium import webdriver
from pathlib import Path
import pickle
import time

import re
from selenium.webdriver.common.keys import Keys

In [243]:
web = webdriver.Chrome("/home/kaafibored/Projects/Linkden_Scraper/chromedriver")

In [244]:
cookiepath = "/home/kaafibored/Projects/Linkden_Scraper/"
web.get("https://www.linkedin.com")
cookies = pickle.load(open(cookiepath + "cookies.pkl", "rb"))
for cookie in cookies:
    web.add_cookie(cookie)

In [248]:
links = [] 
web.get("https://www.linkedin.com/search/results/people/?keywords=CSR")
web.maximize_window()

In [249]:
html = web.find_element_by_tag_name('html')
html.send_keys(Keys.END)

time.sleep(1)
libutspan = [i.text for i in web.find_elements_by_css_selector("li button span")]
pageno = list(filter(lambda x:re.findall("\d+",x),libutspan))[-1]

depth = 2

if int(pageno) < depth:
    depth = pageno

for i in range(depth):
    time.sleep(2)
    html = web.find_element_by_tag_name('html')
    html.send_keys(Keys.END)
    time.sleep(5)
    li = web.find_elements_by_xpath("//a[@class='search-result__result-link ember-view']")
    links += [i.get_attribute("href") for i in li][::2]
    nxt = web.find_elements_by_xpath("//span[@class='artdeco-button__text']")
    nxt[-2].click()
    
    

links,len(links)

(['https://www.linkedin.com/in/kotharivikram/',
  'https://www.linkedin.com/in/debdoot-mohanty-64087871/',
  'https://www.linkedin.com/in/nayantara-nath-741700a3/',
  'https://www.linkedin.com/in/paras-kumar-38475612a/',
  'https://www.linkedin.com/in/avijit-raju-3951a118/',
  'https://www.linkedin.com/in/nusrat-pathan-019b5631/',
  'https://www.linkedin.com/in/brahmjeet-kohli-27554788/',
  'https://www.linkedin.com/in/niki-das-076198135/',
  'https://www.linkedin.com/in/jyoti-rani-a5757724/',
  'https://www.linkedin.com/in/sakshigrover/',
  'https://www.linkedin.com/in/aishani-phukan-869080141/',
  'https://www.linkedin.com/in/monalisha-ghosh-37746940/',
  'https://www.linkedin.com/in/sandeep-kalura-5965b6b2/',
  'https://www.linkedin.com/in/niyati-mehta-16338727/',
  'https://www.linkedin.com/in/arun-kumar-2006468b/',
  'https://www.linkedin.com/in/sushil-bhatla-39865a128/',
  'https://www.linkedin.com/in/uma-agrawal-a12869b1/',
  'https://www.linkedin.com/in/sanjay-kumar-b3312479/',
  'https://www.linkedin.com/in/fkcci-csr-12949b164/'],
 19)

In [250]:
import pandas as pd

df = pd.DataFrame({"Links":links})
df.to_csv("/home/kaafibored/Projects/Linkden_Scraper/Links.csv",index = False)

In [251]:
readlinka = pd.read_csv("/home/kaafibored/Projects/Linkden_Scraper/Links.csv",)

In [254]:
info={
    'name':[],
    'pos':[],
    'adr':[],
    'links':[],
    'span':[],
    'head':[]   
}

In [260]:

for i in readlinka.Links.values[:5]:
    web.get(i)
    A = web.find_elements_by_css_selector("li[class = 'inline t-24 t-black t-normal break-words']")
    B = web.find_elements_by_css_selector("h2[class='mt1 t-18 t-black t-normal break-words']")
    C = web.find_elements_by_css_selector("li[class='t-16 t-black t-normal inline-block']")
    web.find_element_by_css_selector("span[class='t-16 t-bold']").click()
    time.sleep(2)
    D = [i.get_attribute("href") for i in web.find_elements_by_css_selector("div[class='pv-profile-section__section-info section-info'] a:link")]
    E = [i.text for i in web.find_elements_by_css_selector("div[class='pv-profile-section__section-info section-info'] span")]
    F = [i.text for i in web.find_elements_by_css_selector("div[class='pv-profile-section__section-info section-info'] header")]

    def lam(a):
        if len(a) == 0:
            return ""
        else:
            return a[0].text
    
    A, B, C = map(lam,(A,B,C))

    info["name"].append(A)
    info["pos"].append(B)
    info["adr"].append(C)
    info["links"].append(D)
    info["span"].append(E)
    info["head"].append(F)

info

{'name': [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Kothari V.',
  'Debdoot Mohanty',
  'Nayantara Nath',
  'Paras kumar',
  'Avijit Raju'],
 'pos': [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Partnerships at Synergie [CSR & Sustainability]',
  'Head, CSR Tata Steel',
  'CSR Investments at Cisco',
  'CSR at Amazon',
  'Head CSR at Hindalco Industries Limited'],
 'adr': [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Noida, Uttar Pradesh, India',
  'Jamshedpur Area, India',
  '',
  'Meerut, Uttar Pradesh, India',
  'India'],
 'links': [['https://www.linkedin.com/in/kotharivikram'],
  ['https://www.linkedin.com/in/debdoot-mohanty-64087871'],
  ['https://www.linkedin.com/in/nayantara-nath-741700a3'],
  ['https://www.linkedin.com/in/paras-kumar-38475612a',
   'mailto:paras.kumar505@gmail.com'],
  ['https://www.linkedin.com/in/avijit-raju-3951a118'],
  ['https://www.linkedin.com/in/nusrat-pathan-019b5631'],
  ['https://www.linkedin.com/in/brahmjeet-kohli-27554788'],
  [],
  ['https://www.linkedin.com/in/jyoti-rani-a5757724'],
  ['https://www.linkedin.com/in/sakshigrover'],
  ['https://www.linkedin.com/in/kotharivikram'],
  ['https://www.linkedin.com/in/debdoot-mohanty-64087871'],
  ['https://www.linkedin.com/in/nayantara-nath-741700a3'],
  ['https://www.linkedin.com/in/paras-kumar-38475612a',
   'mailto:paras.kumar505@gmail.com'],
  ['https://www.linkedin.com/in/avijit-raju-3951a118']],
 'span': [[], [], [], [], [], [], [], [], ['July 1'], [], [], [], [], [], []],
 'head': [['Kothari’s Profile'],
  ['Debdoot’s Profile'],
  ['Nayantara’s Profile'],
  ['Paras’ Profile', 'Email'],
  ['Avijit’s Profile'],
  ['Nusrat’s Profile'],
  ['Brahmjeet’s Profile'],
  [],
  ['Jyoti’s Profile', 'Birthday'],
  ['Sakshi’s Profile'],
  ['Kothari’s Profile'],
  ['Debdoot’s Profile'],
  ['Nayantara’s Profile'],
  ['Paras’ Profile', 'Email'],
  ['Avijit’s Profile']]}

In [263]:
pd.DataFrame(info)

,name,pos,adr,links,span,head
0,None,None,None,[https://www.linkedin.com/in/kotharivikram],[],[Kothari’s Profile]
1,None,None,None,[https://www.linkedin.com/in/debdoot-mohanty-6...,[],[Debdoot’s Profile]
2,None,None,None,[https://www.linkedin.com/in/nayantara-nath-74...,[],[Nayantara’s Profile]
3,None,None,None,[https://www.linkedin.com/in/paras-kumar-38475...,[],"[Paras’ Profile, Email]"
4,None,None,None,[https://www.linkedin.com/in/avijit-raju-3951a...,[],[Avijit’s Profile]
5,None,None,None,[https://www.linkedin.com/in/nusrat-pathan-019...,[],[Nusrat’s Profile]
6,None,None,None,[https://www.linkedin.com/in/brahmjeet-kohli-2...,[],[Brahmjeet’s Profile]
7,None,None,None,[],[],[]
8,None,None,None,[https://www.linkedin.com/in/jyoti-rani-a5757724],[July 1],"[Jyoti’s Profile, Birthday]"
9,None,None,None,[https://www.linkedin.com/in/sakshigrover],[],[Sakshi’s Profile]
10,Kothari V.,Partnerships at Synergie [CSR & Sustainability],"Noida, Uttar Pradesh, India",[https://www.linkedin.com/in/kotharivikram],[],[Kothari’s Profile]
11,Debdoot Mohanty,"Head, CSR Tata Steel","Jamshedpur Area, India",[https://www.linkedin.com/in/debdoot-mohanty-6...,[],[Debdoot’s Profile]
12,Nayantara Nath,CSR Investments at Cisco,,[https://www.linkedin.com/in/nayantara-nath-74...,[],[Nayantara’s Profile]
13,Paras kumar,CSR at Amazon,"Meerut, Uttar Pradesh, India",[https://www.linkedin.com/in/paras-kumar-38475...,[],"[Paras’ Profile, Email]"
14,Avijit Raju,Head CSR at Hindalco Industries Limited,India,[https://www.linkedin.com/in/avijit-raju-3951a...,[],[Avijit’s Profile]

In [264]:
web.close()